BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 130
NamespaceIndentation: All
PointerAlignment: Left
IndentPPDirectives: AfterHash
BreakAfterReturnType: TopLevelDefinitions
BreakArrays: true
BreakBeforeBraces: Linux
