BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 130
NamespaceIndentation: All
BreakBeforeBraces: Attach
PointerAlignment: Left
IndentPPDirectives: AfterHash
BreakAfterReturnType: TopLevelDefinitions
BreakArrays: true
BraceBreakingStyle: Linux
